{% extends 'base.html' %}

{% load static %}

{% block title %}O'qituvchi Ma'lumotlari{% endblock %}

{% block content %}
    <h1>{{ teacher.first_name }} {{ teacher.last_name }} - O'qituvchi Ma'lumotlari</h1>

    <div class="teacher-details">
        <div class="teacher-info">
            {% if teacher.images %}
                <img src="{{ teacher.images.url }}" alt="O'qituvchi rasmi" class="teacher-image">
            {% else %}
                <img src="{% static 'default-teacher-image.jpg' %}" alt="O'qituvchi rasmi" class="teacher-image">
            {% endif %}
            <h2>{{ teacher.first_name }} {{ teacher.last_name }}</h2>
            <p>ID: <span>{{ teacher.id }}</span></p>
            <p>Fan: <span>{{ teacher.subject.name }}</span></p>
            <p>Telefon: <span>{{ teacher.phone_number }}</span></p>
            <p>Email: <span>{{ teacher.email }}</span></p>
            <p>Ish tajribasi: <span>{{ teacher.work_experience }} yil</span></p>
        </div>

        <div class="teacher-groups">
            <h3>O'qituvchi guruhlari</h3>
            {% if teacher.groups.all %}
                <ul>
                    {% for group in teacher.groups.all %}
                        <li>{{ group.group_name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Hozirda guruhlar mavjud emas.</p>
            {% endif %}
        </div>
    </div>

    <div class="actions">
        <a href="{{ teacher.get_update_url }}" class="btn"><i class="fas fa-edit"></i> Tahrirlash</a>
        <a href="{{ teacher.get_delete_url }}" class="btn btn-danger"><i class="fas fa-trash"></i> O'chirish</a>
    </div>
{% endblock %}
