{% extends 'base.html' %}

{% block title %}{{ student.first_name }} {{ student.last_name }} - O'quvchi Ma'lumotlari{% endblock %}

{% block content %}
<main>
    <section class="student-details">
        <h1>{{ student.first_name }} {{ student.last_name }} - O'quvchi Ma'lumotlari</h1>
        <div class="student-info">
            <h2>O'quvchi Tafsilotlari</h2>
            <ul>
                <li><strong>ID:</strong> {{ student.id }}</li>
                <li><strong>Guruh:</strong> <a href="{{ student.group.get_detail_url }}">{{ student.group.group_name }}</a></li>
                <li><strong>Tug'ilgan sana:</strong> {{ student.birth_date }}</li>
                <li><strong>Telefon:</strong> {{ student.phone_number }}</li>
                <li><strong>Manzil:</strong> {{ student.address }}</li>
            </ul>
            <div class="student-image">
                <img src="{{ student.images.url }}" alt="{{ student.first_name }} {{ student.last_name }} rasmi" class="img-fluid">
            </div>
        </div>
        <div class="student-actions">
            <a href="{% url 'students:update' student.id %}" class="btn btn-edit"><i class="fas fa-edit"></i> Tahrirlash</a>
            <a href="{% url 'students:delete' student.id %}" class="btn btn-danger" onclick="return confirm('Haqiqatan ham o‘quvchini o‘chirmoqchimisiz?')">
                <i class="fas fa-trash"></i> O'chirish
            </a>
        </div>
    </section>

    <section class="teacher-details">
        <h2>Guruh Rahbari</h2>
        <ul>
            <li><strong>Ism:</strong> <a href="{{ student.group.class_leader.get_detail_url }}">{{ student.group.class_leader.first_name }}</a></li>
            <li><strong>Familiya:</strong> {{ student.group.class_leader.last_name }}</li>
        </ul>
        <a href="{{ student.group.class_leader.get_detail_url }}" class="btn btn-info">O'qituvchi Tafsilotlari</a>
    </section>

    <section class="group-details">
        <h2>Guruhlar</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Guruh Nomi</th>
                    <th>Amallar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ student.group.id }}</td>
                    <td><a href="{{ student.group.get_detail_url }}">{{ student.group.group_name }}</a></td>
                    <td>
                        <a href="{{ student.group.get_detail_url }}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i> Ko'rish</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
